{include file="public/top"}
<script type="text/javascript" src="__STATIC__/index/js/n_nav.js"></script>

<div class="i_bg">
    <!--Begin 第三步：提交订单 Begin -->
    <div class="content mar_20">
        <!--Begin 支付宝支付 Begin -->
        <div class="warning">
            <table border="0" style="width:1000px; text-align:center;" cellspacing="0" cellpadding="0">
                <tr height="80">
                    <td><font color="#ff4e00" style="font-size: 30px">感谢您在本店购物！共花费:{$orderInfo.order_amount}元</font></td>
                </tr>
                <tr height="50">
                    <td style="font-size:18px;">
                       您的订单已提交成功，请记住您的订单号: <font color="#ff4e00">{$orderInfo.order_number}
                        </font>
                    </td>
                </tr>

            </table>
        </div>
        <!--Begin 支付宝支付 Begin -->

    </div>
    <!--End 第三步：提交订单 End-->