
{include file="public/up"/}
<!--End Header End-->
<div class="i_bg bg_color">
    <!--Begin 用户中心 Begin -->
    <div class="m_content">
        {include file="public/left"/}
        <div class="m_right">
            <p></p>
            <div class="mem_tit">编辑收货地址</div>
            <table border="0" class="add_tab" style="width:930px;"  cellspacing="0" cellpadding="0">
                <input type="hidden" name="id"  id="id" value="{$arr.id}">
                <tr>
                    <td width="135" align="right">配送地区</td>
                    <td colspan="3" style="font-family:'宋体';">
                        <select name="province" class="area" id="province">
                            <option value="" selected="selected">--请选择--</option>
                            {volist name='province' id='v'}
                            {if condition="$v.id  eq  $arr.province"}
                            <option value="{$v.id}" selected>{$v.name}</option>
                            {else/}
                            <option value="{$v.id}" >{$v.name}</option>
                            {/if}
                            {/volist}
                        </select>
                        <select name="city" class="area" id="city">
                            <option value="" selected="selected">--请选择--</option>
                            {volist name='city' id='v'}
                            {if condition="$v.id  eq  $arr.city"}
                            <option value="{$v.id}" selected>{$v.name}</option>
                            {else/}
                            <option value="{$v.id}" >{$v.name}</option>
                            {/if}
                            {/volist}

                        </select>
                        <select name="district" class="area" id="district">
                            <option value="" selected="selected">--请选择--</option>
                            {volist name='district' id='v'}
                            {if condition="$v.id  eq  $arr.district"}
                            <option value="{$v.id}" selected>{$v.name}</option>
                            {else/}
                            <option value="{$v.id}" >{$v.name}</option>
                            {/if}
                            {/volist}

                        </select>
                        （必填）
                    </td>
                </tr>
                <tr>
                    <td align="right">收货人姓名</td>
                    <td style="font-family:'宋体';"><input type="text" value="{$arr.consignee_name}" name="consignee_name" id="consignee_name" placeholder="姓名" class="add_ipt" />（必填）</td>
                    <td align="right">电子邮箱</td>
                    <td style="font-family:'宋体';"><input type="text" value="{$arr.email}" name="email" id="email" placeholder="列如:****@qq.com" class="add_ipt" />（必填）</td>
                </tr>
                <tr>
                    <td align="right">详细地址</td>
                    <td style="font-family:'宋体';"><input type="text"value="{$arr.detailed_address}" name="detailed_address" id="detailed_address" placeholder="填写地址" class="add_ipt" />（必填）</td>
                    <td align="right">手机</td>
                    <td style="font-family:'宋体';"><input type="text" value="{$arr.consignee_tel}" name="consignee_tel" maxlength="11" id="consignee_tel" placeholder="列如:136****6587"  class="add_ipt" />（必填）</td>
                </tr>
                <tr>
                    <td  colspan="4">
                        {if condition="$arr.is_default  eq  1"}
                        <input type="checkbox" id="is_default" checked>是否设置为默认收货地址
                        {else/}
                        <input type="checkbox" id="is_default" >是否设置为默认收货地址
                        {/if}
                    </td>
                </tr>

            </table>
            <p align="right">
                &nbsp; &nbsp; <a href="#" class="add_b" id="btn">确认修改</a>
            </p>

        </div>
    </div>
    <!--End 用户中心 End-->
    <script>
        $(function () {
            layui.use(['layer','form'],function(){
                var layer=layui.layer;
                var form=layui.form;
                /** 下拉菜单内容改变事件*/
                $('.area').change(function () {
                    var _this = $(this);
                    var id = _this.val();
                    _this.nextAll('select').html("<option value=''>--请选择--</option>");
                    $.post(
                        "{:url('Member/address')}",
                        {id:id},
                        function (result) {
                            // console.log(result);
                            var _option = " <option value=''>--请选择--</option> ";
                            for(var i in result){
                                _option +="<option value='"+result[i]['id']+"'>"+result[i]['name']+"</option>>";
                            }
                            // console.log(_option)
                            _this.next('select').html(_option)
                        },
                        'json'
                    )
                });
                /** 点击修改*/
                $('#btn').click(function () {
                    var province = $('#province').val();
                    var id = $('#id').val();
                    var city = $('#city').val();
                    var district = $('#district').val();
                    var consignee_name = $('#consignee_name').val();
                    var email = $('#email').val();
                    var detailed_address = $('#detailed_address').val();
                    var consignee_tel = $('#consignee_tel').val();
                    var is_default = $('#is_default').prop('checked');
                    $.post(
                        "{:url('Member/compileUpdate')}",
                        {id:id,province:province,city:city,district:district,consignee_name:consignee_name,email:email,detailed_address:detailed_address,consignee_tel:consignee_tel,is_default:is_default},
                        function (result) {
                            // console.log(result)
                            layer.msg(result.font,{icon:result.code});
                            if(result.code==1){
                                location.href="{:url('member/address')}";
                            }
                        },
                        'json'
                    )
                })

            });
        })
    </script>
